numpy
pandas

matplotlib
#face recognition
dlib-bin
scikit-learn

git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

#DB
supabase
bcrypt # hasshing


segno # use for QR code generation
pillow # use for image processing

streamlit